force-app/main/default/flows/Agent_ALF_Create_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Report</name>
        <label>Create Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentCreateReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>reportName</name>
            <value>
                <elementReference>reportName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportType</name>
            <value>
                <elementReference>reportType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>columns</name>
            <value>
                <elementReference>columns</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterColumn</name>
            <value>
                <elementReference>filterColumn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <elementReference>filterOperator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterValue</name>
            <value>
                <elementReference>filterValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupByColumn</name>
            <value>
                <elementReference>groupByColumn</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentCreateReport</nameSegment>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reportId</assignToReference>
            <name>reportId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reportUrl</assignToReference>
            <name>reportUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>createdReportName</assignToReference>
            <name>reportName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Agent - ALF - Create Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent - ALF - Create Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Comma-separated column API names. For CaseList: CASE_NUMBER,SUBJECT,STATUS,PRIORITY. For AccountList: ACCOUNT.NAME,ACCOUNT.INDUSTRY. For OpportunityList: OPPORTUNITY_NAME,AMOUNT,STAGE_NAME,CLOSE_DATE</description>
        <name>columns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the created report as confirmed by the API</description>
        <name>createdReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error details if success is false</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Column API name to filter on (optional). Example: STATUS or CLOSED</description>
        <name>filterColumn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Filter operator (optional). Values: equals, notEqual, lessThan, greaterThan, contains, notContain, startsWith</description>
        <name>filterOperator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value to filter by (optional). Example: Closed or 0</description>
        <name>filterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Column API name to group rows by in a Summary report (optional). Supports comma-separated values for multi-level grouping. Example: Case.Case_Category__c or STAGE_NAME,FULL_NAME</description>
        <name>groupByColumn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Salesforce ID of the newly created report</description>
        <name>reportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Display name for the new report</description>
        <name>reportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Salesforce report type API name. Examples: CaseList, AccountList, Opportunity, ContactList, OrderList, LeadList</description>
        <name>reportType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Direct URL to open the newly created report</description>
        <name>reportUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>True if the report was created successfully</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
