force-app/main/default/flows/WSM_ALF_Agent_Create_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Report</name>
        <label>Create Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentCreateReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>reportName</name>
            <value>
                <elementReference>reportName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportType</name>
            <value>
                <elementReference>reportType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>columns</name>
            <value>
                <elementReference>columns</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportFormat</name>
            <value>
                <elementReference>reportFormat</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingsDown</name>
            <value>
                <elementReference>groupingsDown</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingsAcross</name>
            <value>
                <elementReference>groupingsAcross</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterColumn</name>
            <value>
                <elementReference>filterColumn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <elementReference>filterOperator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterValue</name>
            <value>
                <elementReference>filterValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filtersJson</name>
            <value>
                <elementReference>filtersJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateFilter</name>
            <value>
                <elementReference>dateFilter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <elementReference>scope</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderName</name>
            <value>
                <elementReference>folderName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateGranularity</name>
            <value>
                <elementReference>dateGranularity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortOrder</name>
            <value>
                <elementReference>sortOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportBooleanFilter</name>
            <value>
                <elementReference>reportBooleanFilter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crossFiltersJson</name>
            <value>
                <elementReference>crossFiltersJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bucketsJson</name>
            <value>
                <elementReference>bucketsJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customDetailFormulasJson</name>
            <value>
                <elementReference>customDetailFormulasJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customSummaryFormulaJson</name>
            <value>
                <elementReference>customSummaryFormulaJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentCreateReport</nameSegment>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reportId</assignToReference>
            <name>reportId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reportUrl</assignToReference>
            <name>reportUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reportPath</assignToReference>
            <name>reportPath</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>createdReportName</assignToReference>
            <name>reportName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>WSM - ALF - Agent: Create Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WSM - ALF - Agent: Create Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Display name for the new report. Truncated to 40 characters if longer.</description>
        <name>reportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Report type API name from List Report Types. Examples: CaseList, AccountList, Opportunity, ContactList, LeadList.</description>
        <name>reportType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comma-separated column API names from Get Report Type Columns. Do not include group-by columns here.</description>
        <name>columns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>TABULAR (flat list, default), SUMMARY (grouped with subtotals), or MATRIX (row and column groupings).</description>
        <name>reportFormat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comma-separated column API names for row groupings. Required when format is SUMMARY or MATRIX. Maximum 3.</description>
        <name>groupingsDown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comma-separated column API names for column groupings. Only used when format is MATRIX. Maximum 3.</description>
        <name>groupingsAcross</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Column API name to filter on for a single filter. Use Filters JSON instead when multiple filters are needed.</description>
        <name>filterColumn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Filter operator: equals, notEqual, lessThan, greaterThan, lessOrEqual, greaterOrEqual, contains, notContain, startsWith.</description>
        <name>filterOperator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value to filter by. Use YYYY-MM-DD for dates, true/false for booleans.</description>
        <name>filterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of filter objects for multi-filter reports. Each object: {"column":"FIELD","operator":"equals","value":"X"}. Takes precedence over single filter fields.</description>
        <name>filtersJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Standard date filter. Format: "FIELD:RANGE" (e.g., "CLOSE_DATE:THIS_FISCAL_YEAR"). Ranges: THIS_FISCAL_QUARTER, LAST_FISCAL_QUARTER, THIS_FISCAL_YEAR, LAST_FISCAL_YEAR, THIS_MONTH, LAST_MONTH, LAST_30_DAYS, LAST_90_DAYS, CUSTOM.</description>
        <name>dateFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Whose records to include: "user" for my records, "team" for my team, "organization" for all records. Defaults to "organization".</description>
        <name>scope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the report folder to save the report in. Leave blank for the user's private reports folder.</description>
        <name>folderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Granularity for date groupings: Day, Month, Quarter, Year, FiscalQuarter, FiscalYear, None (default). Only affects date/datetime grouping columns.</description>
        <name>dateGranularity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sort direction for all groupings: Asc (default) or Desc.</description>
        <name>sortOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean logic for combining filters. Uses 1-based indices. Example: &apos;(1 OR 2) AND 3&apos;. Without this, all filters use AND.</description>
        <name>reportBooleanFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of cross-filter objects for related-record filtering. Example: [{&quot;primaryEntityField&quot;:&quot;ACCOUNT_ID&quot;,&quot;relatedEntity&quot;:&quot;Opportunity&quot;,&quot;relatedEntityJoinField&quot;:&quot;AccountId&quot;,&quot;includesObject&quot;:true}]. includesObject true=WITH, false=WITHOUT.</description>
        <name>crossFiltersJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of bucket field definitions. Reference in columns/groupings by developerName.</description>
        <name>bucketsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of row-level formulas. Each: {&quot;label&quot;:&quot;Days Open&quot;,&quot;formula&quot;:&quot;TODAY() - CREATED_DATE&quot;,&quot;formulaType&quot;:&quot;number&quot;,&quot;decimalPlaces&quot;:0}. Referenced as CDF1, CDF2.</description>
        <name>customDetailFormulasJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON object for a custom summary formula. Only for SUMMARY/MATRIX reports.</description>
        <name>customSummaryFormulaJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True if the report was created successfully.</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Salesforce ID of the newly created report.</description>
        <name>reportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Full URL to open the report in Lightning.</description>
        <name>reportUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Relative path to the report. Fallback when full URL is unavailable.</description>
        <name>reportPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Display name of the created report as confirmed by the API.</description>
        <name>createdReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error details if success is false.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
