force-app/main/default/flows/WSM_ALF_Agent_Edit_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Edit_Report</name>
        <label>Edit Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentEditReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>reportId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportName</name>
            <value>
                <elementReference>reportName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newReportName</name>
            <value>
                <elementReference>newReportName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>columns</name>
            <value>
                <elementReference>columns</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportFormat</name>
            <value>
                <elementReference>reportFormat</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingsDown</name>
            <value>
                <elementReference>groupingsDown</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupingsAcross</name>
            <value>
                <elementReference>groupingsAcross</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterColumn</name>
            <value>
                <elementReference>filterColumn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <elementReference>filterOperator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterValue</name>
            <value>
                <elementReference>filterValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filtersJson</name>
            <value>
                <elementReference>filtersJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateFilter</name>
            <value>
                <elementReference>dateFilter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <elementReference>scope</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderName</name>
            <value>
                <elementReference>folderName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateGranularity</name>
            <value>
                <elementReference>dateGranularity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortOrder</name>
            <value>
                <elementReference>sortOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportBooleanFilter</name>
            <value>
                <elementReference>reportBooleanFilter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crossFiltersJson</name>
            <value>
                <elementReference>crossFiltersJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bucketsJson</name>
            <value>
                <elementReference>bucketsJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customDetailFormulasJson</name>
            <value>
                <elementReference>customDetailFormulasJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customSummaryFormulaJson</name>
            <value>
                <elementReference>customSummaryFormulaJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentEditReport</nameSegment>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>editedReportId</assignToReference>
            <name>reportId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reportUrl</assignToReference>
            <name>reportUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>editedReportName</assignToReference>
            <name>reportName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>fieldsUpdated</assignToReference>
            <name>fieldsUpdated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>WSM - ALF - Agent: Edit Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WSM - ALF - Agent: Edit Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Edit_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Salesforce ID of the report to edit. Preferred over Report Name when known.</description>
        <name>reportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Exact current name of the report to edit. Used to look up the report when reportId is not provided.</description>
        <name>reportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Renames the report to this value. Leave blank to keep the current name.</description>
        <name>newReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comma-separated column API names to replace the report's detail columns. Leave blank to keep existing columns.</description>
        <name>columns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>TABULAR, SUMMARY, or MATRIX. Leave blank to keep the current format.</description>
        <name>reportFormat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comma-separated column API names for row groupings. Replaces existing row groupings entirely. Maximum 3.</description>
        <name>groupingsDown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Comma-separated column API names for column groupings (MATRIX only). Replaces existing column groupings entirely. Maximum 3.</description>
        <name>groupingsAcross</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Column API name for a single replacement filter. Use Filters JSON instead for multiple filters. Replaces ALL existing filters.</description>
        <name>filterColumn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Filter operator: equals, notEqual, lessThan, greaterThan, lessOrEqual, greaterOrEqual, contains, notContain, startsWith.</description>
        <name>filterOperator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value to filter by. Use YYYY-MM-DD for dates, true/false for booleans.</description>
        <name>filterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of filter objects to replace ALL existing filters. Takes precedence over single filter fields.</description>
        <name>filtersJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Standard date filter, format "FIELD:RANGE" (e.g., "CLOSE_DATE:THIS_FISCAL_YEAR"). Pass "NONE" to clear an existing date filter.</description>
        <name>dateFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Whose records to include: "user" for my records, "team" for my team, "organization" for all records. Leave blank to keep current scope.</description>
        <name>scope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Moves the report to this folder. Leave blank to keep the report in its current folder.</description>
        <name>folderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Granularity applied to new groupings set in this call: Day, Month, Quarter, Year, FiscalQuarter, FiscalYear, None (default).</description>
        <name>dateGranularity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sort direction applied to new groupings set in this call: Asc (default) or Desc.</description>
        <name>sortOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean logic for combining filters set in this call. Uses 1-based indices. Example: &apos;(1 OR 2) AND 3&apos;.</description>
        <name>reportBooleanFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of cross-filter objects to replace existing cross-filters.</description>
        <name>crossFiltersJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of bucket field definitions to replace existing buckets.</description>
        <name>bucketsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON array of row-level formulas to replace existing ones. Referenced as CDF1, CDF2.</description>
        <name>customDetailFormulasJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON object for a custom summary formula, replacing the existing one. Only for SUMMARY/MATRIX reports.</description>
        <name>customSummaryFormulaJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True if the report was updated successfully.</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Salesforce ID of the edited report.</description>
        <name>editedReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Full URL to open the updated report in Lightning.</description>
        <name>reportUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current display name of the report as confirmed by the API.</description>
        <name>editedReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Comma-separated list of fields that were changed.</description>
        <name>fieldsUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error details if success is false.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
